<!DOCTYPE html>
<html>
  <head>
    <title>Node CRUD App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Compiled and minified css for material-icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  </head>

  <body>
    <header>
      <!--Materialize nav bar -->
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Node.js CRUD App</a>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s10 m10 l11">
              <textarea id="message" class="materialize-textarea"></textarea>
              <label for="message">Message</label>
            </div>

            <div class="input-field col s2 m2 l1 right-align">
              <button class="btn-floating btn-large waves-effect waves-light red"
              type="submit" id="addBtn">
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>
        </form>
      </div>


      <div class="row">
        <ul class="collection with-header">
          <li class="collection-header"><h4>Items</h4></li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
        </ul>
      </div>
    </div>
    

    <!--Import jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
    </script>

    <!-- Compiled and minified JavaScript -->
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js">
    </script>
  </body>
</html>