<!DOCTYPE html>
<html>
  <head>
    <title>Node CRUD App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Compiled and minified css for material-icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  </head>

  <body>
    <header>
      <!--Materialize nav bar -->
      <nav class="light-blue">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Node.js CRUD App</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Home</a></li>
            <li><a href="badges.html">View</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="row">
        <div class="col s0 m2">
        </div>
        <div class="col s12 m8">
          <div class="card light-blue lighten-5 hoverable">
            <div class="card-content black-text">
              <span class="card-title">Student Information</span>
              <div class="row">
                <form id="student_form" class="col s12">
                  <div class="row">
                    <div class="input-field col s12 m6">
                      <input name="first_name" id="first_name" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <input name="last_name" id="last_name" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input name="email" id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 m6">
                      <input name="age" id="age" type="text" class="validate">
                      <label for="age">Age</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <input class="with-gap" name="gender" type="radio" id="gender_male" />
                      <label for="gender_male">Male</label>
                      <input class="with-gap" name="gender" type="radio" id="gender_female" />
                      <label for="gender_female">Female</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-action center">
              <a id="save_btn" class="waves-effect waves-light btn light-blue">submit</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <ul class="collection with-header">
          <li class="collection-header center"><h4>Messages</h4></li>
          <% data.forEach(function(item) { %>
            <li class="collection-item" data-item="<%= item.message %>"><%= item.message %>
              <a href="#" class="delBtn">
                <i class="right material-icons">delete</i>
              </a>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>

    <!--Import jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
    </script>

    <!-- Compiled and minified JavaScript -->
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js">
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
        $("#addBtn").on('click', function() {
          var data = {message: $("#message").val()};
          jQuery.post('/insert', data, function() {
            location.reload();
          });
        });

        $('li').on('click', function() {
          var item = $(this).data('item');
          $.ajax({
            url: '/del/' + item,
            type: 'DELETE',
            success: function() {
              location.reload();
            }
          });
        });
      });
    </script>
  </body>
</html>